.fade {
    opacity: 0;
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.left {
    transform: translateX(-100px);
}

.right {
    transform: translateX(100px);
}

.left.normal, .right.normal{
    transform: translateX(0);
}

.fade.normal {
    opacity: 1;
}