{% extends "base.html" %}

{% block content_title %}
<h1 class="text-center mt-2">Bienvenido</h1>
{% endblock content_title%}

{% block content %}
<div class="container">
    <p>En mi blog encontrarás guias escritas de los videos que subo a mis redes sociales y articulos sobre temas de mi
        interes</p>
     {% for article in articles_page.object_list %}
        <article class="card bg-dark my-5" data-bs-theme="dark">
            <div class="card-body">
                <header> <h3 class="card-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                <section class="card-text">{{ article.summary }}</section>
                <a href="{{ SITEURL }}/{{ article.url }}" class="btn btn-danger">Seguir leyendo</a>
            </div>
            <div class="card-footer text-body-secondary">
            Publicado por: {{ article.author.name }} el {{ article.date.strftime("%d %B %Y")  }}
            </div>
        </article>
    {% endfor %}
</div>

{% endblock content %}