<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand"
           href="/">
            <img src="{{ SITEURL }}/theme/images/logo.png"
                 height="30"
                 alt="Robert Aguilera's Logo"
                 class="d-inline-block align-text-center">
            Roberto Aguilera</a>
        <button class="navbar-toggler d-flex d-lg-none flex-column justify-content-around collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ SITEURL }}/pages/about.html">Sobre mí</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ SITEURL }}/pages/projects.html">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ SITEURL }}/pages/contact.html">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>